/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse {
  padding-top: 1.5em; }

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden; }

.nav-collapse li {
  margin-bottom: .5em;
  float: right;
  text-align: right;
  margin-right: 2%; }

.nav-collapse a {
  color: #f6f4f4;
  text-decoration: none; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  padding: 10px 2%;
  text-decoration: none; }

.nav-toggle span {
  color: #f6f4f4;
  font-size: 1.15em;
  float: right;
  font-style: normal; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none;
    padding-top: 0; }

  .nav-toggle {
    display: none; } }
.row {
  margin: 0 auto;
  overflow: hidden; }
  .row .col1, .row .col2, .row .col3, .row .col6 {
    box-sizing: border-box;
    float: left;
    width: 100%;
    font-family: sans-serif;
    margin-bottom: 5px; }

body {
  font-family: "adelle",serif;
  background: #f6f4f4; }

.container {
  width: 90%;
  margin: 0 auto; }

.clear-fix {
  clear: both; }

h1 {
  color: #dc0606;
  font-size: 4.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffe505;
  padding-left: 5%; }

h2 {
  color: #f6f4f4;
  font-size: 1rem;
  padding-left: 5%; }

h3 {
  color: #dc0606;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0; }

h4 {
  color: #373737;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 5px; }

h5 {
  color: #373737;
  font-size: 1rem;
  font-family: "franklin-gothic-urw",sans-serif;
  font-weight: bold;
  margin-top: 15px; }

h6 {
  color: #f6f4f4;
  font-size: 0.875rem;
  font-family: "franklin-gothic-urw",sans-serif;
  text-align: center;
  line-height: 1.4;
  font-weight: normal; }

p {
  color: #373737;
  font-family: "franklin-gothic-urw",sans-serif;
  font-size: 0.875rem;
  line-height: 1.2rem; }

.italic {
  font-style: italic;
  font-size: 0.7rem;
  line-height: 1; }

span {
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1;
  font-weight: normal;
  font-family: "franklin-gothic-urw",sans-serif; }

header {
  background: #dc0606;
  padding: 1em 2%; }
  header img {
    width: 30%;
    display: block;
    margin: 0 auto; }

.pizza-toss {
  width: 100%;
  height: 200px;
  background: url("../images/pizza-toss.jpg");
  background-size: cover;
  border-bottom: 10px solid #ffe505; }

.red-border {
  width: 100%;
  height: 4px;
  background-color: #dc0606;
  margin-top: 1px;
  margin-bottom: 40px; }

.yellow-border {
  width: 100%;
  height: 10px;
  background-color: #ffe505;
  margin-top: 40px; }

footer div {
  width: 100%;
  padding: 10px 0;
  background-color: #dc0606;
  margin-top: 40px; }

@media screen and (min-width: 40em) {
  .row {
    overflow: hidden; }
    .row .col6 {
      width: 47.6%;
      margin-right: 2.8%;
      max-width: 100%; }
    .row div:last-child {
      margin-right: 0; }

  .right-special {
    margin-top: 45px; }

  .right-byo {
    margin-top: 58px; }

  h1 {
    color: #dc0606;
    font-size: 5rem; }

  h3 {
    font-size: 2.5rem; }

  .build {
    text-align: right;
    width: 280px;
    float: right; }

  .pizza-toss {
    height: 250px;
    background: url("../images/pizza-toss.jpg");
    background-position: 0 30%;
    background-size: cover;
    border-bottom: 10px solid #ffe505; }

  .red-border {
    margin-bottom: 0;
    height: 12px; } }

/*# sourceMappingURL=style.css.map */
