@import 'reset';
@import 'responsive-nav';
@import 'custom';

// =============================
// Mixin
// =============================

@mixin grid ($col-num) {
  width: ($col * $col-num)+($gut * (($col-num)-1));
  margin-right: $gut;
  max-width: 100%;
} 

$col: 3.5%;
// $col: 4.138889%;
$gut: 2.5%;

// =============================
// Grid
// =============================

.row {
  margin: 0 auto;
  overflow: hidden;
}

  .col1, .col2, .col3, .col6 {
    box-sizing: border-box;
    float: left;
    width: 100%;
    font-family: sans-serif;
}


.container {
	width: 90%;
	margin: 0 auto;
}

img {
	width: 100%;
}

// =============================
// Clear Fix
// =============================
	
.clear-fix {
	clear: both;
}

// =============================
// Typography
// =============================

body {
	font-family: "adelle",serif;
	background: $ltgrey;
}

a {
	text-decoration: none;	
}

h1 {
	color: $red;
	font-size: 4.5rem;
	font-weight: bold;
	text-shadow: 1px 1px 0 $yellow;
	padding-left: 5%;
	padding-top: 50px;
}

h2 {
	color: $yellow;
	font-size: 1rem;
	padding-left: 5%;
	background-color: rgba(55, 55, 55, 0.5);
	padding-top: 1%;
	padding-bottom: 1%;
}

h3 {
	color: $red;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 10px 0;
}

h4 {
	color: $black;
	font-size: 1rem;
	font-family: "adelle",serif;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 5px;
}

h5 {
	color: $black;
	font-size: 1rem;
	font-family: "franklin-gothic-urw",sans-serif;
	font-weight: bold;
	margin-top: 15px;
}

h6 {
	color: $ltgrey;
	font-size: 0.875rem;
	font-family: "franklin-gothic-urw",sans-serif;
	text-align: center;
	line-height: 1.4;
	font-weight: normal;
}

p {
	color: $black;
	font-family: "franklin-gothic-urw",sans-serif;
	font-size: 0.875rem;
	line-height: 1.2rem;
}

.italic {
	font-style: italic;
	font-size: 0.7rem;
	line-height: 1;
}

span {
	font-style: italic;
	font-size: 0.8rem;
	line-height: 1;
	font-weight: normal;
	font-family: "franklin-gothic-urw",sans-serif;
}

.green {
	color: $green;
	font-family: "adelle",serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.2rem;
}

// =============================
// Header
// =============================

header {
	background: $red;
	padding: 1em 2%;
	img {
		width: 30%;
		display: block;
		margin: 0 auto;
	}
}	

// =============================
// Menu
// =============================

.pizza-toss {
	width: 100%;
	height: 200px;
	background: url("../images/pizza-toss.jpg");
	background-size: cover;
	border-bottom: 10px solid $yellow;
}

.borders {
	width: 100%;
	.red-border {
		height: 4px;
		background-color: $red;
		margin-top: 1px;
		margin-bottom: 40px;
	}
	.yellow-border {
		height: 10px;
		background-color: $yellow;
		margin-top: 40px;
	}
}

.byo {
	margin-bottom: 40px;
}

footer {
	div {
		width: 100%;
		padding: 15px 0;
		background-color: $red;
		text-align: center;
		h6 {
			display: inline;
		}
	}
}

// =============================
// Home
// =============================

.front {
	width: 100%;
	height: 250px;
	background: url("../images/front-3.jpg");
	background-size: cover;
}

.hours {
	border-top: 5px solid $yellow;
	background-color: $black;
	width: 90%;
	padding: 5%;
	h3 {
		margin-top: 0;
		text-align: center;
		font-weight: normal;
		color: $ltgrey;
	}
	h4 {
		color: $ltgrey;
		font-weight: normal;
		text-align: center;
	}
}

section {
	width: 90%;
	margin: 40px auto;
}

.location, .location-more {
	width: 100%;
	padding: 15px;
	background-color: $green;
	h4 {
		color: $ltgrey;
		font-weight: normal;
		margin-bottom: 0;
		text-align: center;
	}	
}

.location-more {
	border-bottom: 5px solid $yellow;
	h3 {
		margin: 0 auto;
		text-shadow: 1px 1px 0 $yellow;
	}
}



// =============================
// Contact
// =============================

.contact-page {
	width: 100%;
	outline: 5px solid $yellow;
	border-top: 3px solid $red;
	border-bottom: 3px solid $red;
	margin: 0 auto;
	.contact-info {
		width: 90%;
		margin: 0 auto;
		padding: 2%;
		h3 {
			color: $black;
			text-align: center;
		}
		.address-pie-face {
			margin: 50px auto;
			max-width: 400px;
			.address, .pie-face {
				display: inline-block;
				vertical-align: middle;
				margin-left: 30px;
			}
			.pie-face {
				width: 90px;
				margin-left: 30px;
			}
		}
		.email-us {
			margin: 20px auto;
			border: 4px solid $red;
			border-radius: 10px;
			padding: 2%;
			max-width: 500px;
		}
	}	
}	

span.contact {
	color: $green;
	font-style: normal;
	font-family: "adelle",serif;
	font-size: 0.875rem;
}

.iframe {
	margin-top: 2px;
	border-bottom: 5px solid $yellow;
}	






@import 'media-mid';
@import 'media-max';






