@import 'reset';
@import 'custom';
@font-face {
	font-family: 'motherland';
	src: local("motherland.ttf"),
		url('motherland.ttf');
}
@font-face {
	font-family: 'KyrillaSansSerif-Black';
	src: local("KyrillaSansSerif-Black.ttf"),
		url('KyrillaSansSerif-Black.ttf');
}
@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}

/*
  ========================================
  Grid
  ========================================
*/

body {
	background-color: $black;
}

.page-wrapper {
	max-width: 90%;
	margin: 0 auto;
	border-left: 3px solid $white;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
	color: $black;
	font-family: 'motherland';
	@include font(6);
	line-height: 1.4em;
	text-align: center;
}

h2 {
	font-family: 'KyrillaSansSerif-Black';
	@include font(2);
	color: $white;
	line-height: 1.4em;
	text-align: center;
}

h3 {
	font-family: 'KyrillaSansSerif-Black';
	@include font(1.8);
	color: $black;
	line-height: 1.4em;
	padding: 2%;
	transform: rotate(-18deg);
}

p {
	font-family: sans-serif;
	@include font(1);
	color: $black;
	line-height: 1.4em;
	padding: 2%;
	width: 60%;
	margin-left: 30%;
}

li {
	font-family: sans-serif;
	line-height: 1.4em;
	color: $black;
	padding: 2%;
}

/*
  ========================================
  Links
  ========================================
*/

// a {
// 	text-decoration: none;
// 	color: $black;
// }

/*
  ========================================
  Header
  ========================================
*/


header {
	background: url("lady.png");
	background-size: contain;
	height: 800px;
	padding: 10px;
	margin-top: 20px;
	background-repeat: no-repeat;
	border-top: 3px solid $white;
	background-color: $red;
		h1 {
			position: absolute;
			top: 20vw;
			font-size: 8vw;
			right: 10vw;
			transform: rotate(-18deg);
		}
		h2 {
			position: absolute;
			transform: rotate(-17deg);
			font-size: 3vw;
			top: 27vw;
			right: 9vw;
		}
			
}	

/*
  ========================================
  Section
  ========================================
*/

section {
	// background-color: $red;
}

.summary {
	background-color: $white;
	margin-top: -600px;
	border-top: 5px solid $black;
	p {
		border-left: 5px solid $black;
	}
}

.preamble {
	background-color: $green;
}

.main {
	background-color: $white;
}

.participation {
	background-color: $green;
}

.benefits {
	background-color: $white;
}

.requirements {
	background-color: $green;
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	background-color: $green;
}

/*
  ========================================
  Aside
  ========================================
*/

aside {
	background-color: $white;
}



@import 'mid-media';
@import 'max-media';








