/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'motherland';
  src: local("motherland.ttf"), url("motherland.ttf"); }
@font-face {
  font-family: 'KyrillaSansSerif-Black';
  src: local("KyrillaSansSerif-Black.ttf"), url("KyrillaSansSerif-Black.ttf"); }
/*
  ========================================
  Grid
  ========================================
*/
body {
  background-color: #2f2f2e; }

.page-wrapper {
  max-width: 100%;
  margin: 0 auto; }

/*
  ========================================
  Typography
  ========================================
*/
h1 {
  color: #2f2f2e;
  font-family: 'motherland';
  font-size: 96px;
  font-size: 6em;
  line-height: 1.4em;
  text-align: center; }

h2 {
  font-family: 'KyrillaSansSerif-Black';
  font-size: 32px;
  font-size: 2em;
  color: #d1bb94;
  line-height: 1.4em;
  text-align: center; }

h3 {
  font-family: 'KyrillaSansSerif-Black';
  font-size: 28.8px;
  font-size: 1.8em;
  color: #2f2f2e;
  line-height: 1.4em;
  padding: 2%;
  transform: rotate(-18deg); }

p {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1em;
  color: #2f2f2e;
  line-height: 1.4em;
  padding: 2%;
  width: 60%;
  margin-left: 30%; }

li {
  font-family: sans-serif;
  line-height: 1.4em;
  color: #2f2f2e;
  padding: 2%; }

/*
  ========================================
  Links
  ========================================
*/
a {
  font-family: 'KyrillaSansSerif-Black';
  text-decoration: none;
  color: #2f2f2e; }
  a:hover {
    color: #053889; }

/*
  ========================================
  Header
  ========================================
*/
header {
  background: url("lady.png");
  background-size: contain;
  height: 700px;
  padding: 10px;
  margin: 0 auto;
  background-repeat: no-repeat; }
  header h1 {
    position: absolute;
    top: 20vw;
    font-size: 8vw;
    right: 10vw;
    transform: rotate(-18deg); }
  header h2 {
    position: absolute;
    transform: rotate(-17deg);
    font-size: 3vw;
    top: 27vw;
    right: 9vw; }

/*
  ========================================
  Section
  ========================================
*/
.summary {
  background-color: #d1bb94;
  margin-top: -350px;
  border-top: 5px solid #e7261f;
  border-bottom: 5px solid #e7261f; }

.preamble {
  background-color: #4b966d;
  padding-bottom: 30px;
  padding-top: 10px; }
  .preamble p {
    margin-top: 5px; }

.explanation {
  background-color: #d1bb94;
  padding-bottom: 30px;
  padding-top: 10px; }
  .explanation p {
    margin-top: 5px; }

.participation {
  background-color: #4b966d;
  padding-bottom: 30px;
  padding-top: 10px; }
  .participation p {
    margin-top: 5px; }

.benefits {
  background-color: #d1bb94;
  padding-bottom: 30px;
  padding-top: 10px; }
  .benefits p {
    margin-top: 5px; }

.requirements {
  background-color: #4b966d;
  padding-bottom: 30px;
  padding-top: 10px; }
  .requirements p {
    margin-top: 5px; }

/*
  ========================================
  Footer
  ========================================
*/
footer {
  background-color: #2f2f2e;
  text-align: center;
  padding: 3%; }
  footer a {
    color: #d1bb94;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'KyrillaSansSerif-Black'; }
    footer a:hover {
      color: #4b966d; }

/*
  ========================================
  Aside
  ========================================
*/
aside {
  background-color: #d1bb94;
  padding-bottom: 30px;
  padding-top: 10px; }
  aside ul {
    margin-top: 5px;
    width: 60%;
    margin-left: 30%; }

@media screen and (min-width: 700px) {
  header h1 {
    animation-duration: 1.5s;
    animation-name: slidein;
    top: 15vw;
    font-size: 8vw;
    right: 8vw; }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; }
    to {
      margin-left: 0%;
      width: 47.2%; } }
  header h2 {
    animation-duration: 1s;
    animation-name: slidein-two;
    font-size: 3vw;
    top: 23vw;
    right: 9vw; }
  @keyframes slidein-two {
    from {
      margin-left: 100%;
      width: 300%; }
    to {
      margin-left: 0%;
      width: 39%; } }
  .summary {
    background: url("diag.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-18deg);
    margin-top: -350px;
    margin-left: -50px;
    width: 120%;
    border-top: none;
    border-bottom: none; }
    .summary p {
      border-left: 10px solid #2f2f2e; }

  .slidein {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }

  @-moz-keyframes slidein {
    from {
      margin-left: 0%;
      width: 300%; }
    to {
      margin-left: 100%;
      width: 100%; } }
  @-webkit-keyframes slidein {
    from {
      margin-left: 0%;
      width: 300%; }
    to {
      margin-left: 100%;
      width: 100%; } } }
@media screen and (min-width: 1150px) {
  /*
    ========================================
    Grid
    ========================================
  */
  /*
    ========================================
    Header
    ========================================
  */
  header {
    height: 800px;
    padding: 10px; }
    header h1 {
      top: 20vw;
      font-size: 8vw;
      right: 10vw; }
    header h2 {
      font-size: 3vw;
      top: 27vw;
      right: 9vw; }

  /*
    ========================================
    Section
    ========================================
  */
  .summary {
    background: url("diag.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-18deg);
    margin-top: -100px;
    margin-left: -60px;
    width: 110%; }
    .summary p {
      border-left: 10px solid #2f2f2e; }

  .preamble {
    background-color: #4b966d; }
    .preamble h3 {
      transform: rotate(45deg);
      position: relative;
      top: 38vw;
      left: 5vw;
      font-size: 32px;
      font-size: 2em; }
    .preamble p {
      width: 50%;
      margin-left: 42%; }

  .explanation {
    width: 60%;
    float: left;
    background-color: #d1bb94; }
    .explanation h3 {
      transform: rotate(0deg); }

  .participation {
    width: 60%;
    float: left;
    background-color: #4b966d; }
    .participation h3 {
      transform: rotate(0deg); }

  .benefits {
    width: 60%;
    float: left;
    background-color: #d1bb94; }
    .benefits h3 {
      transform: rotate(0deg); }

  .requirements {
    width: 60%;
    float: left;
    background-color: #4b966d; }
    .requirements h3 {
      transform: rotate(0deg); }

  /*
    ========================================
    Footer
    ========================================
  */
  footer {
    width: 60%;
    float: left;
    background-color: #2f2f2e;
    text-align: center;
    padding: 3% 0;
    background-color: #e7261f; }
    footer a {
      color: #d1bb94;
      text-decoration: none;
      margin: 0 10px;
      font-family: 'KyrillaSansSerif-Black'; }
      footer a:hover {
        color: #4b966d; }

  /*
    ========================================
    Aside
    ========================================
  */
  aside {
    background-color: #d1bb94;
    background: url("fist-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-right: 5%;
    margin-top: -125%; }
    aside ul, aside h3 {
      transform: rotate(0deg);
      position: relative;
      top: 700px;
      width: 100%;
      color: #d1bb94;
      right: 30%; }
      aside ul a, aside ul li, aside h3 a, aside h3 li {
        color: #d1bb94; } }

/*# sourceMappingURL=style.css.map */
