$dkgrey: #5B5B5B;
$medgreen: #98C9A3;
$ltgreen: #B2D8AF;
$white: #F9F9F9;
$pink: #EB9486;
$black: #171717;
$grblue: #5EAFBD;
$grorange: #EE7B42;
$gryellow: #F2EA29;
$grwhite: #FFFFFF;
$grgrey: #C8D6D5;
$grpurple: #ECEBF2;