@media screen and (min-width: 1100px) {

.paragraph {
	width: 55%;
	margin: 0 auto;
	// text-align: center;
}

// ===================================
// HOME/BROWSE
// ===================================

.centered {
	h2 {
		margin-top: 290px;
	}
	.costumes, .shoes, .accessories {
		width: 300px;
		height: 300px;
	}
}

.partners {
	.partner-logo {
		width: 100px;
		border-radius: 100%;
	}
}

.donate {
	.donate-icon {
		width: 100px;
	}
}



// ===================================
// COSTUME GALLERY
// ===================================

.gallery {
	padding-left: 70px;
	.item-foot {
		width: 22.7%;
		float: left;
		// margin-right: 2%;
		margin: 20px;
	}
}

// ===================================
// ITEM PAGE
// ===================================
.item-container {
	width: 85%;
	margin: 70px auto;
	.main-photo {
		float: left;
		width: 55%;
		.main-item {
			width: 100%;
		}
	}
	.side-images {
		.sub-item {
			width: 23%;
			margin: 2% 2% 2% 0;
			&:nth-of-type(4) {
				margin-right: 0;
			}
		}
	}	
}

aside {
	width: 35%;
	float: right;
}

.donation-info {
	margin: 50px auto;
	width: 90%;
	.donate-icon4 {
		width: 120px;
		margin: 0 30px 40px 0;
		display: inline-block;
	}	
	p {
		@include font(1);
		width: 70%;
		margin: 0 0 0 20px;
		display: inline-block;

	}
}

// ===================================
// CART
// ===================================

.cart-container {
	width: 100%;
	h4 {
		margin-top: 70px;
	}
	.cart-left {
		float: left;
		width: 55%;
		.cart-item {
			margin: 10px 0;
			.item-image {
				width: 30%;
				.cart-img {
				}
			}
			.item-desc {
				width: 30%;
				float: left;
			}			
		}
	}	
}

.order-summary {
	background-color: white;
	float: right;
	margin: 140px 30px 40px 0;
	.title {
	}
	.itemized {
		.width {
		}
		.cost {
		}
	}
	.donate-icon-cart {
	}	
	h3 {
	}
	.horiz-line {
	}
	.btn {
		display: block;
		margin: 10px auto;
		}
}



}