@import 'reset';
@import 'custom';
// @import 'bourbon/bourbon';
// @import 'neat/neat';

@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}

body {
  font-family: "futura-pt",sans-serif;
  background-color: $white;
  color: $black;  
  }

.container {
	width: 100%;
	margin: 0 auto;
}

.clear-fix {
	clear: both;
}

.horiz-line {
	border-bottom: 1px solid $black;
	margin: 40px 0;
}

// ===================================
// TYPE
// ===================================

h1 {
	@include font(3.5);
	line-height: 1.3;
} 

h2 {
	@include font(2.5);
	line-height: 1.5;
}

h3 {
	@include font(1.875);
	line-height: 1.5;
	font-weight: bold;
	color: $white;
}

h4 {
	@include font(1);
	line-height: 2;
	color: $white;
}

p {
	@include font(1.4);
	line-height: 1.8;
}

.bold {
	@include font(1.4);
	line-height: 1.8;
	font-weight: bold;
}

.italic {
	@include font(1.4);
	line-height: 1.8;
	font-style: italic;
}

span {
	color: $dkgreen;
	&:hover {
		color: $yellow;
	}
}

a {
	text-decoration: none;
	color: $white;
	&:hover {
		color: $ltgreen;
	}
}

.btn {
  background: #76E2C0;
  font-family: "futura-pt",sans-serif;
  background-image: -webkit-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: -moz-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: -ms-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: -o-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: linear-gradient(to bottom, #76E2C0, #6AD2B0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  padding: 5px 10px;
  margin: 0 10px 10px;
}

.btn:hover {
  background: #8BA19E;
  text-decoration: none;
}

// ===================================
// HEADER
// ===================================


header {
	width: 100%;
	margin: 0 auto 20px auto;
	background-color: $ltblack;
	padding-bottom: 10px;	
	.name {
		.logo {
			visibility: hidden;
			width: 0;
		}
		h1 {
			text-align: center;
			color: $white;
		}
	}
	nav {
		text-align: center;
		li {
			display: inline;
			margin: 8px;
		}
	}
}	

// ===================================
// HOME/BROWSE
// ===================================

.paragraph {
	width: 90%;
	margin: 0 auto;
}

.intro {
	padding: 50px 0;
	width: 90%;
	margin: 10px auto 30px auto;
	h2 {
		text-align: center;
	}
}

.costumes, .donate, .partners {
	background-color: $black;
	text-align: center;
	padding: 80px 0;
	a {
		color: $ltblack;
		text-shadow: 1px 1px 1px $dkgreen;
		font-weight: bold;
		&:hover {
			color: $yellow;
			text-shadow: 1px 1px 1px transparent;
		}
	}
}

.costumes {
	border-top: 1px solid $yellow;
	background: url("/images/costumesBW.jpg");
	background-size: cover;
	background-position: 0 -50px;
}

.donate {
	background: url("/images/donateBW.jpg");
	background-size: cover;
	background-position: 0 -50px;
	p {
		visibility: hidden;
		position: absolute;
	}
	.donate-icon {
		visibility: hidden;
		position: absolute;
	}	
}

.partners {
	background: url("/images/partnersBW.jpg");
	background-size: cover;
	background-position: 0 -30px;
	text-align: center;
	border-top: 10px solid $yellow;
	border-bottom: 10px solid $yellow;
	p {
		visibility: hidden;
		position: absolute;
	}
	.partner-logo {
		visibility: hidden;
		position: absolute;
	}
}

.shoes, .accessories {
	position: absolute;
	visibility: hidden;
}

// ===================================
// DASHBOARD
// ===================================
	
.dashboard {
	width: 150px;
	margin: 0 auto;
	padding: 20px 0 50px 0;
	.icon {
		width: 150px;
		margin: 20px 0;
		&:hover {
			filter: invert(80%);
			-webkit-filter: invert(80%);
			-moz-filter: invert(80%);
			-o-filter: invert(80%);
			-ms-filter: invert(80%);
		}	
		
	}
}	

// ===================================
// COSTUME GALLERY
// ===================================

.gallery {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	// background-color: red;
	.item-foot {
		width: 100%;
		max-width: 230px;
		margin: 40px auto;
		// margin-right: 2%;
		// margin: 10px auto;
		outline: 3px solid $black;
		.item {
			width: 100%;
			max-width: 230px;
			border-bottom: 3px solid $black;
		}
		.opts {
			width: 100%;
			max-width: 230px;
			padding-left: 65%;
			// height: 40px;
			// background-color: $dkgreen;
			margin: 0 auto;
			.favorite {
				width: 30px;
			}
			.plus {
				width: 30px;
			}
		}
	}
}

// ===================================
// ITEM PAGE
// ===================================
.item-container {
	width: 90%;
	margin: 0 auto;
	.main-photo {
		.main-item {
			width: 100%;
		}
	}
	.side-images {
		.sub-item {
			width: 20%;
			margin: 5.6% 5.6% 5.6% 0;
			&:nth-of-type(4) {
				margin-right: 0;
			}
		}
	}	
}

// ===================================
// FOOTER
// ===================================

footer {
	border-top: 1px solid $yellow;
	background-color: $ltblack;
	padding: 30px 0;
	// margin-top: 50px;
	.social {
		display: block;
		margin: 0 auto;
		width: 200px;
	}
	.contact, .follow, .foot-details-left, .foot-details-right {
		display: none;
		position: absolute;
	}
	.contact, .follow {
		float: left;
	}
	.foot-details-left, .foot-details-right {
		float: right;
	}
	.foot {
		margin: 0 2%;
	}

}

@import '600-media';
@import 'mid-media';
@import 'max-media';
