/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "futura-pt",sans-serif;
  background-color: #EFEDED;
  color: #3A4149; }

.container {
  width: 100%;
  margin: 0 auto; }

.clear-fix {
  clear: both; }

.horiz-line {
  border-bottom: 1px solid #3A4149;
  margin: 40px 0; }

h1 {
  font-size: 56px;
  font-size: 3.5em;
  line-height: 1.3; }

h2 {
  font-size: 40px;
  font-size: 2.5em;
  line-height: 1.5; }

h3 {
  font-size: 30px;
  font-size: 1.875em;
  line-height: 1.5;
  font-weight: bold;
  color: #EFEDED; }

h4 {
  font-size: 16px;
  font-size: 1em;
  line-height: 2;
  color: #EFEDED; }

p {
  font-size: 22.4px;
  font-size: 1.4em;
  line-height: 1.8; }

.bold {
  font-size: 22.4px;
  font-size: 1.4em;
  line-height: 1.8;
  font-weight: bold; }

.italic {
  font-size: 22.4px;
  font-size: 1.4em;
  line-height: 1.8;
  font-style: italic; }

span {
  color: #6AD2B0; }
  span:hover {
    color: #EFCB35; }

a {
  text-decoration: none;
  color: #EFEDED; }
  a:hover {
    color: #76E2C0; }

.btn {
  background: #76E2C0;
  font-family: "futura-pt",sans-serif;
  background-image: -webkit-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: -moz-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: -ms-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: -o-linear-gradient(top, #76E2C0, #6AD2B0);
  background-image: linear-gradient(to bottom, #76E2C0, #6AD2B0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  padding: 5px 10px;
  margin: 0 10px 10px; }

.btn:hover {
  background: #8BA19E;
  text-decoration: none; }

header {
  width: 100%;
  margin: 0 auto 20px auto;
  background-color: #454E56;
  padding-bottom: 10px; }
  header .name .logo {
    visibility: hidden;
    width: 0; }
  header .name h1 {
    text-align: center;
    color: #EFEDED; }
  header nav {
    text-align: center; }
    header nav li {
      display: inline;
      margin: 8px; }

.paragraph {
  width: 90%;
  margin: 0 auto; }

.intro {
  padding: 50px 0;
  width: 90%;
  margin: 10px auto 30px auto; }
  .intro h2 {
    text-align: center; }

.costumes, .donate, .partners {
  background-color: #3A4149;
  text-align: center;
  padding: 80px 0; }
  .costumes a, .donate a, .partners a {
    color: #454E56;
    text-shadow: 1px 1px 1px #6AD2B0;
    font-weight: bold; }
    .costumes a:hover, .donate a:hover, .partners a:hover {
      color: #EFCB35;
      text-shadow: 1px 1px 1px transparent; }

.costumes {
  border-top: 1px solid #EFCB35;
  background: url("/images/costumesBW.jpg");
  background-size: cover;
  background-position: 0 -50px; }

.donate {
  background: url("/images/donateBW.jpg");
  background-size: cover;
  background-position: 0 -50px; }
  .donate p {
    visibility: hidden;
    position: absolute; }
  .donate .donate-icon {
    visibility: hidden;
    position: absolute; }

.partners {
  background: url("/images/partnersBW.jpg");
  background-size: cover;
  background-position: 0 -30px;
  text-align: center;
  border-top: 10px solid #EFCB35;
  border-bottom: 10px solid #EFCB35; }
  .partners p {
    visibility: hidden;
    position: absolute; }
  .partners .partner-logo {
    visibility: hidden;
    position: absolute; }

.shoes, .accessories {
  position: absolute;
  visibility: hidden; }

.dashboard {
  width: 150px;
  margin: 0 auto;
  padding: 20px 0 50px 0; }
  .dashboard .icon {
    width: 150px;
    margin: 20px 0; }
    .dashboard .icon:hover {
      filter: invert(80%);
      -webkit-filter: invert(80%);
      -moz-filter: invert(80%);
      -o-filter: invert(80%);
      -ms-filter: invert(80%); }

.gallery {
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  .gallery .item-foot {
    width: 100%;
    max-width: 230px;
    margin: 40px auto;
    outline: 3px solid #3A4149; }
    .gallery .item-foot .item {
      width: 100%;
      max-width: 230px;
      border-bottom: 3px solid #3A4149; }
    .gallery .item-foot .opts {
      width: 100%;
      max-width: 230px;
      padding-left: 65%;
      margin: 0 auto; }
      .gallery .item-foot .opts .favorite {
        width: 30px; }
      .gallery .item-foot .opts .plus {
        width: 30px; }

.item-container {
  width: 90%;
  margin: 0 auto; }
  .item-container .main-photo .main-item {
    width: 100%; }
  .item-container .side-images .sub-item {
    width: 20%;
    margin: 5.6% 5.6% 5.6% 0; }
    .item-container .side-images .sub-item:nth-of-type(4) {
      margin-right: 0; }

footer {
  border-top: 1px solid #EFCB35;
  background-color: #454E56;
  padding: 30px 0; }
  footer .social {
    display: block;
    margin: 0 auto;
    width: 200px; }
  footer .contact, footer .follow, footer .foot-details-left, footer .foot-details-right {
    display: none;
    position: absolute; }
  footer .contact, footer .follow {
    float: left; }
  footer .foot-details-left, footer .foot-details-right {
    float: right; }
  footer .foot {
    margin: 0 2%; }

@media screen and (min-width: 620px) {
  .container {
    width: 100%;
    margin: 0 auto; }

  .gallery {
    width: 100%;
    margin: 0 auto; }
    .gallery .item-foot {
      width: 100%;
      float: left;
      margin: 20px;
      outline: 3px solid #3A4149; }
      .gallery .item-foot .item {
        width: 100%;
        max-width: 230px;
        border-bottom: 3px solid #3A4149; }
      .gallery .item-foot .opts {
        width: 100%;
        height: 40px;
        margin: 0 auto; }

  .item-container {
    width: 90%;
    margin: 0 auto; }
    .item-container .main-photo .main-item {
      width: 100%; }
    .item-container .side-images .sub-item {
      width: 20.2%;
      margin: 5.6% 5.6% 5.6% 0; }
      .item-container .side-images .sub-item:nth-of-type(4) {
        margin-right: 0; } }
@media screen and (min-width: 800px) {
  .container {
    width: 90%;
    margin: 0 auto; }

  header {
    height: 80px;
    padding-bottom: 0;
    padding-top: 10px; }
    header .name {
      padding: 0 0 0 5%; }
      header .name .logo {
        visibility: visible;
        width: 100px;
        padding: 0 10px 10px 0;
        float: left; }
      header .name h1 {
        margin-top: 20px;
        text-align: left; }
    header nav {
      position: absolute;
      top: 10px;
      right: 10px; }

  .intro {
    width: 100%;
    padding: 50px 0;
    margin-bottom: 5px; }

  .centered {
    background-color: white;
    margin: 0 auto 5px auto;
    text-align: center;
    padding: 70px 0;
    width: 100%;
    border-top: 1px solid #8BA19E;
    border-bottom: 1px solid #8BA19E; }
    .centered h2 {
      color: #EFEDED;
      margin-top: 230px;
      font-size: 35.2px;
      font-size: 2.2em; }
    .centered .costumes {
      border-top: none;
      background: url("/images/costumes.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0;
      display: inline-block;
      padding: 0;
      width: 230px;
      height: 230px; }
      .centered .costumes a {
        color: #3A4149;
        font-weight: normal;
        text-shadow: 1px 1px 1px transparent; }
        .centered .costumes a:hover {
          color: #EFCB35; }
    .centered .shoes, .centered .accessories {
      display: inline-block;
      visibility: visible;
      position: relative;
      width: 230px;
      height: 230px;
      background-color: #3A4149;
      text-align: center; }
      .centered .shoes a, .centered .accessories a {
        color: #3A4149; }
        .centered .shoes a:hover, .centered .accessories a:hover {
          color: #EFCB35; }
    .centered .shoes {
      margin: 0 5%;
      background: url("/images/shoes.jpg");
      background-size: cover; }
    .centered .accessories {
      background: url("/images/tiara.jpg");
      background-size: cover; }

  .partners {
    background: none;
    border-top: none;
    border-bottom: 1px solid #8BA19E;
    padding: 60px 0 60px 0;
    margin: 0; }
    .partners p {
      visibility: visible;
      position: relative;
      text-align: left; }
    .partners a {
      text-shadow: 1px 1px 1px transparent;
      color: #3A4149;
      font-weight: normal; }
    .partners .partner-logo {
      visibility: visible;
      position: relative;
      width: 80px;
      display: inline-block;
      border-radius: 50px;
      border: 3px solid #3A4149;
      margin: 30px 40px 0 40px; }

  .donate {
    border-top: 1px solid #8BA19E;
    margin-top: 5px;
    background: none;
    position: relative;
    visibility: visible;
    padding: 60px 0; }
    .donate p {
      visibility: visible;
      position: relative;
      text-align: left; }
    .donate a {
      text-shadow: 1px 1px 1px transparent;
      color: #3A4149;
      font-weight: normal; }
    .donate .donate-icon {
      visibility: visible;
      position: relative;
      width: 100px;
      display: block;
      margin: 30px auto 20px auto; }
      .donate .donate-icon:hover {
        width: 105px;
        height: 105px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px; }

  .gallery {
    width: 90%;
    margin: 0 auto; }
    .gallery .item-foot {
      width: 30%;
      float: left;
      margin: 10px;
      outline: 3px solid #3A4149; }
      .gallery .item-foot .item {
        width: 100%;
        max-width: 230px;
        border-bottom: 3px solid #3A4149; }
      .gallery .item-foot .opts {
        width: 100%;
        height: 40px;
        margin: 0 auto; }

  .item-container {
    width: 95%;
    margin: 70px auto; }
    .item-container .main-photo {
      float: left;
      width: 50%; }
      .item-container .main-photo .main-item {
        width: 100%; }
    .item-container .side-images .sub-item {
      width: 22.6%;
      margin: 2% 2% 2% 0; }
      .item-container .side-images .sub-item:nth-of-type(4) {
        margin-right: 0; }

  aside {
    width: 40%;
    float: right; }

  .donation-info {
    margin: 50px 0; }

  footer {
    background-color: #454E56;
    padding: 30px 5%;
    height: 100px; }
    footer .social {
      display: none;
      position: absolute; }
    footer .contact, footer .follow, footer .foot-details-left, footer .foot-details-right {
      display: block;
      position: relative; }
      footer .contact .social2, footer .follow .social2, footer .foot-details-left .social2, footer .foot-details-right .social2 {
        width: 165px; } }
@media screen and (min-width: 1100px) {
  .paragraph {
    width: 55%;
    margin: 0 auto; }

  .centered h2 {
    margin-top: 290px; }
  .centered .costumes, .centered .shoes, .centered .accessories {
    width: 300px;
    height: 300px; }

  .partners .partner-logo {
    width: 100px;
    border-radius: 100%; }

  .donate .donate-icon {
    width: 100px; }

  .gallery {
    width: 90%;
    margin: 0 auto; }
    .gallery .item-foot {
      width: 22.7%;
      float: left;
      margin: 20px;
      outline: 3px solid #3A4149; }
      .gallery .item-foot .item {
        width: 100%;
        border-bottom: 3px solid #3A4149; }
      .gallery .item-foot .opts {
        width: 100%;
        max-width: 230px;
        height: 40px;
        margin: 0 auto; }

  .item-container {
    width: 85%;
    margin: 70px auto; }
    .item-container .main-photo {
      float: left;
      width: 55%; }
      .item-container .main-photo .main-item {
        width: 100%; }
    .item-container .side-images .sub-item {
      width: 23%;
      margin: 2% 2% 2% 0; }
      .item-container .side-images .sub-item:nth-of-type(4) {
        margin-right: 0; }

  aside {
    width: 35%;
    float: right; }

  .donation-info {
    margin: 50px auto;
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
