/*
  ========================================
  Grid
  ========================================
*/
/**,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

.container-main {
	max-width: 1280px;
  margin: 0 auto;
}

.container-sub {
  max-width: 960px;
  margin: 0 auto;
}

.grid-1-3,
.grid-2-3,
.posts-col  {
  display: inline-block;
  vertical-align: top;
}

.grid-1-3 {
  width: 310px;
  margin-right: 9px;
}

.grid-2-3 {
  width: 634px;
  border-radius: 8px;
  height: 800px;
}

.posts-col {
  width: 545px;
  margin-left: 77px;
  margin-top: -83px;
}

/*
  ========================================
  Custom Styles
  ========================================
*/

body {
	font-family: Helvetica;
	color: black;
  background: #f5f8fa;
  /*line-height: 1.6em;*/
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
	font-size: 1.375em;
  font-weight: bold;
  margin: 0;
}

h2 {
	font-size: .813em;
  line-height: 1.4em;
  margin: 3px 0;
}

h3 {
  font-size: 1em;
  line-height: 1.6em;
}

h4 {
  font-size: .688em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.4em;
}

h6 {
  font-size: .75em;
}

p {
  font-size: .875em;
  line-height: 1.4em;
}

.sub-info p {
  margin-top: 10px;
}

.new {
  font-size: 1.375em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.small {
  font-size: .75em;
  color: #0899d5;
}

.sign-up-box h3 {
  margin-top: 13px;
  padding-top: 11px;
}

.blog-title {
  font-size: 1.625em;
  line-height: 1.2em;
}

.blog-content .b {
  padding-top: 8px;
}

.bold {
  font-weight: bold;
}

.black {
  color: black;
}

.reply-small {
  margin: 0;
  font-size: .75em;
  color: #0899d5;
}

.view {
  float: right;
}

/*
  ========================================
  Images
  ========================================
*/

.logo-header {
	width: 24px;
  margin: 15px 0 0 160px;
}

.profile-pic {
  width: 224px;
  border-radius: 8px;
  margin-top: -200px;
  margin-bottom: 10px;
  border: solid 1px #a3b3bf;
  background: white;
}

.icons {
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.reply-icon {
  width: 20px;
  vertical-align: middle;
}

.pin {
  margin-top: 10px;
  margin-bottom: 4px;
  float: right;
}

.profile-small {
  width: 50px;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 5px;
}

.keep-calm {
  background: url("../images/keep-calm.jpg");
  background-size: cover;
  width: 468px;
  height: 270px;
  border-radius: 5px;
  background-position: -10px -30px;
  margin-top: 5px;
}

.big-photo1 {
  background: url("../images/big-photo1.jpg");
  background-size: cover;
  width: 543px;
  height: 270px;
  border-radius: 5px;
  background-position: 0 -30px;
  margin-top: 5px;
}

.big-photo2 {
  background: url("../images/big-photo2.jpg");
  background-size: cover;
  width: 543px;
  height: 270px;
  border-radius: 5px;
  background-position: 0 -130px;
  margin-top: 5px;
}

.tiny-photo {
  width: 116px;
  float: right;
}

.reply-icon {
  padding-left: 25px;
}

.reply-icon:nth-of-type(1) {
  padding-left: 0;
}

.follow-icon {
  width: 20px;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.tag-icon {
  width: 12px;
  margin-right: 5px;
}

/*
  ========================================
  Clear-Fix
  ========================================
*/

.clear-fix {
  clear: both;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  color: black;
}

span {
  color: #0899d5;
  margin: 0;
}

/*light grey*/
.g {
  color: #8899a6;
}

/*dark grey*/
.gd {
  color: #52636e;
}

/*blue*/
.b {
  color: #20a3d9;
}

/*
  ========================================
 Header
  ========================================
*/

header {
	height: 50px;
	background: #fff;
}

.search-box {
  background-color: #f5f8fa;
  border-radius: 20px;
  width: 221px;
  padding: 5px 0 5px 10px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  vertical-align: middle;
  border: solid 1px #a3b3bf;
}

.account {
  float: right;
  margin-right: 160px;
  margin-top: 17px;
}

.search {
  margin-left: 100px;
}

.main-photo {
  height: 322px;
  margin: 0 auto;
  background: url("../images/banner.jpg");
  background-size: cover;
  background-position: 0 -55px;
}

.stats {
  padding-left: 490px;
  padding-top: 15px;
  background-color: white;
}

.stat {
  display: inline-block;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.stat:nth-of-type(1) {
  padding-bottom: 8px;
  padding-left: 10px;
  border-bottom: solid 4px #0095d4;
}

.follow-box {
  width: 100px;
  padding: 5px;
  border: solid 1px #a3b3bf;
  border-radius: 5px;
  vertical-align: top;
  margin-right: 0;
  background-color: #f7f9fa;
  margin-left: 115px;
}

.follow {
  vertical-align: middle;
}

.horizontal-line {
  border-top: solid 1px #a3b3bf;
  width: 100%;
}

/*
  ========================================
  Left Col 1-3
  ========================================
*/

.sub-info {
  margin-top: 10px;
}

.thumb {
  width: 90px;
  border-radius: 5px;
}

.thumbs {
  width: 310px;
  margin-top: 10px;
}

.sign-up {
  margin-top: 20px;
  background: #e1e8ed;
  border-radius: 8px;
  padding: 15px;
}

.sign-up-box {
  width: 275px;
  height: 42px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #55acee;
  text-align: center;
  color: white;
}

.may-like {
  margin-top: 10px;
  background: white;
  border-radius: 8px;
  border: solid 1px #a3b3bf;
  padding: 10px;
}

.friend {
  margin-bottom: -8px;
}

.pic {
  border-radius: 5px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
}

.name {
  display: inline-block;
}

.trends {
  border: solid 1px #a3b3bf;
  border-radius: 8px;
  padding: 10px;
  background: white;
  margin: 10px 0;
}

.entour {
  display: inline-block;
}

/*
  ========================================
  Right Col 2-3
  ========================================
*/

.filter {
  border: solid 1px #a3b3bf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;

}

/*
  ========================================
  Right Col 2-3-Boxes
  ========================================
*/
.box {
  padding-bottom: 15px;
  border-bottom: solid 1px #a3b3bf;
  border-right: solid 1px #a3b3bf;
  border-left: solid 1px #a3b3bf;
  background-color: white;
}

.box-pics {
  width: 66px;
  display: inline-block;
}

.tweet-title {
  display: inline-block;
  vertical-align: top;
}

.tweet-type {
  margin-top: 10px;
  margin-bottom: 0;
}

.title, .at {
  display: inline-block;
}

.blog-author {
  display: inline-block;
}

.blog-title-who {
  display: inline-block;
  margin: 10px 0;
}

.blog-content {
  float: left;
}

.post {
  float: left;
  width: 380px;
}

.reply-info {
  display: inline-block;
  margin-top: 10px;
}

.tags {
  display: inline-block;
}









