/*
  ========================================
  Grid
  ========================================
*/
/**,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

.container-main {
	max-width: 1280px;
  margin: 0 auto;
  /*background: black;*/
}

.container-sub {
  max-width: 960px;
  margin: 0 auto;
  /*background: #f1c2f7;*/
}

.grid-1-3,
.grid-2-3,
.posts-col  {
  display: inline-block;
  vertical-align: top;
}

.grid-1-3 {
  width: 310px;
  margin-right: 9px;
  /*background: red;*/
}

.grid-2-3 {
  width: 634px;
  /*border: solid 1px #a3b3bf;*/
  border-radius: 8px;
  /*background: #caf5a4;*/
  height: 800px;
}

.posts-col {
  width: 545px;
  margin-left: 77px;
  margin-top: -83px;
  /*background-color: purple;*/
}

/*
  ========================================
  Custom Styles
  ========================================
*/

body {
	font-family: Helvetica;
	color: black;
  /*line-height: 1.6em;*/
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
	font-size: 1.375em;
  font-weight: bold;
  margin: 0;
}

h2 {
	font-size: .813em;
  line-height: 1.4em;
  margin: 3px 0;
}

h3 {
  font-size: 1em;
  line-height: 1.6em;
}

h4 {
  font-size: .688em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.4em;
}

h6 {
  font-size: .75em;
}

p {
  font-size: .875em;
  line-height: 1.4em;
}

.new {
  font-size: 1.375em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.small {
  font-size: .75em;
  /*margin-left: 10px;*/
  color: #0899d5;
}

.sign-up-box h3 {
  margin-top: 13px;
  padding-top: 11px;
}

.blog-title {
  font-size: 1.625em;
  line-height: 1.2em;
}

.bold {
  font-weight: bold;
}

.black {
  color: black;
}

.reply-small {
  margin: 0;
  font-size: .75em;
  color: #0899d5;

}

/*
  ========================================
  Images
  ========================================
*/

.logo-header {
	width: 24px;
  margin: 13px 0 0 160px;
}

.profile-pic {
  width: 224px;
  border-radius: 8px;
  margin-top: -200px;
  margin-bottom: 10px;
  border: solid 1px #a3b3bf;
  background: white;
}

.icons {
  width: 20px;
  margin: 0 5px;
  vertical-align: middle;
}

.reply-icon {
  width: 20px;
  vertical-align: middle;
}

.pin {
  margin-top: 10px;
  margin-bottom: 4px;
  float: right;
}

.profile-small {
  width: 50px;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 5px;
  /*background-color: blue;*/
}

.keep-calm {
  background: url("../images/keep-calm.jpg");
  background-size: cover;
  width: 468px;
  height: 270px;
  border-radius: 5px;
  background-position: -10px -30px;
}

.big-photo1 {
  background: url("../images/big-photo1.jpg");
  background-size: cover;
  width: 543px;
  height: 270px;
  border-radius: 5px;
  background-position: 0 -30px;
}

.big-photo2 {
  background: url("../images/big-photo2.jpg");
  background-size: cover;
  width: 543px;
  height: 270px;
  border-radius: 5px;
  background-position: 0 -130px;
}

.tiny-photo {
  width: 116px;
  float: right;
}

.reply-icon {
  padding-left: 25px;
}

.reply-icon:nth-of-type(1) {
  padding-left: 0;
}

/*
  ========================================
  Clear-Fix
  ========================================
*/

.clear-fix {
  clear: both;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  color: black;
  /*color: #8596a4;*/
}

span {
  color: #0899d5;
  margin: 0;
  /*background: green;*/
}

/*light grey*/
.g {
  color: #8899a6;
}

/*dark grey*/
.gd {
  color: #52636e;
}

/*blue*/
.b {
  color: #20a3d9;
}

/*
  ========================================
 Header
  ========================================
*/

header {
	height: 50px;
	background: blue;
}

.main-photo {
  height: 322px;
  margin: 0 auto;
  background: url("../images/banner.jpg");
  background-size: cover;
  background-position: 0 -55px;
}

.stats {
  margin-left: 490px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.stat {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 0;
}

.horizontal-line {
  border-top: solid 1px #a3b3bf;
  width: 100%;
}

/*
  ========================================
  Left Col 1-3
  ========================================
*/

.sub-info {
  margin-top: 10px;
}

.thumb {
  width: 90px;
  border-radius: 5px;
}

.thumbs {
  width: 310px;
  margin-top: 5px;
}

.sign-up {
  margin-top: 20px;
  background: #e1e8ed;
  border-radius: 8px;
  padding: 10px;
}

.sign-up-box {
  width: 275px;
  height: 42px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #55acee;
  text-align: center;
  color: white;
}

.may-like {
  margin-top: 10px;
  background: white;
  border-radius: 8px;
  border: solid 1px #a3b3bf;
  padding: 10px;
}

.friend {
  margin-bottom: -8px;
  /*background: red;*/
}

.pic {
  border-radius: 5px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
}

.name {
  display: inline-block;
  margin-top: -10px;
  /*background-color: red;*/
}

.trends {
  border: solid 1px #a3b3bf;
  border-radius: 8px;
  padding: 10px;
  background: white;
  margin: 10px 0;
}

.entour {
  display: inline-block;
}

/*
  ========================================
  Right Col 2-3
  ========================================
*/

.filter {
  border: solid 1px #a3b3bf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

/*
  ========================================
  Right Col 2-3-Boxes
  ========================================
*/
.box {
  padding-bottom: 15px;
  border-bottom: solid 1px #a3b3bf;
  border-right: solid 1px #a3b3bf;
  border-left: solid 1px #a3b3bf;
}

.box-pics {
  width: 66px;
  display: inline-block;
  /*background-color: red;*/
}

.tweet-title {
  display: inline-block;
  vertical-align: top;
}

.tweet-type {
  margin-top: 10px;
  margin-bottom: 0;
}

.title, .at {
  display: inline-block;
}

.blog-author {
  display: inline-block;
}

.blog-title-who {
  display: inline-block;
  margin: 10px 0;
}

.blog-content {
  /*display: inline-block;*/
  float: left;
}

.post {
  /*display: inline-block;*/
  float: left;
  width: 380px;
}



.reply-info {
  display: inline-block;
  margin-top: 10px;
}









