@media screen and (min-width: 700px) {


header {
		h1 {
			animation-duration: 1.5s;
  			animation-name: slidein;
			top: 15vw;
			font-size: 8vw;
			right: 8vw;
			@keyframes slidein {
				from {
					margin-left: 100%;
					width: 300%; 
				}
				to {
					margin-left: 0%;
					width: 47.2%;
				}
			}
		}	
		h2 {
			animation-duration: 1s;
  			animation-name: slidein-two;
			font-size: 3vw;
			top: 23vw;
			right: 9vw;
			@keyframes slidein-two {
				from {
					margin-left: 100%;
					width: 300%; 
				}
				to {
					margin-left: 0%;
					width: 39%;
				}
			}
		}
	}	
.summary {
	background: url("diag-min.png");
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(-18deg);
	margin-top: -350px;
	margin-left: -70px;
	width: 120%;
	border-top: 5px solid $white;
	border-bottom: 5px solid $white;
	p {
		border-left: 10px solid $black;
		font-weight: bold;
		padding-right: 40%;
	}
}

// ======================================
.slidein {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-moz-keyframes slidein {
  from {
    margin-left:0%;
    width:300%
  }
      
  to {
    margin-left:100%;
    width:100%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left:0%;
    width:300%
  }
  
  to {
   margin-left:100%;
   width:100%;
 }
}
// ======================================

.preamble {
	padding-top: 10px;
	border-top: 5px solid $white;
	h3 {
		color: $white;
		font-family: 'motherland';
		@include font(4);
	}
	p {
		margin-top: 15px;
		padding-top: 0;
		padding-bottom: 0;	
	}
}

.explanation {
	padding-top: 0;
	h3 {
		color: $green;
	}
	p {
		margin-top: 15px;
	}
}

.participation {
	padding-top: 0;
	h3 {
		color: $white;
	}
	p {
		margin-top: 15px;
	}
}

.benefits {
	padding-top: 0;
	h3 {
		color: $green;
	}
	p {
		margin-top: 15px;
	}
}

.requirements {
	padding-top: 0;
	h3 {
		color: $white;
	}
	p {
		margin-top: 15px;
	}
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	padding: 3% 0 50px 0;
	a {
		&:hover, &:active {
			background-size: 30px;
		} 
	}
}

/*
  ========================================
  Aside
  ========================================
*/

aside {
	padding-top: 10px;
	h3 {
		color: $red;
	}
	ul {
		margin-top: 35px;
	}
}


}




