/*
  ========================================
  Grid
  ========================================
*/

.container {
	max-width: 980px;
	margin: 0 auto;
}

/*
  ========================================
  Typography
  ========================================
*/

body {
	background: #3e3b39;
	font-family: Avenir;
}

h1 {
	margin: 0 30px;
	font-size: 1.5em;
	font-family: Avenir;
	color: #e1d100;
	padding-bottom: 8px;
}

p {
	margin: 0 30px;
	color: #dcdedd;
	font-size: 1em;
	line-height: 1.4em;
}

/*
  ========================================
  Links
  ========================================
*/

a {
	color: #f15d2a;
	text-decoration: none;
}

h1 a:hover {
	color: #e1d100;
}

/*
  ========================================
  Header
  ========================================
*/

.st {
	height: 200px;
	width: 200px;
	display: block;
	margin: 25px auto;
}

.top-bar { 
	background: #f15d2a;
	height: 100px;
	margin: 25px 0 50px 0;
	border-top-left-radius: 100px;
}

/*
  ========================================
  Middle
  ========================================
*/

.fam {
	width: 100%;
	max-width: 700px;
	display: block;
	margin: 50px auto 0 auto;
    border-radius: 5px;
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	text-align: center;
	height: 110px;
}

.social {
	width: 30px;
	height: 30px;
	padding: 10px;
	margin: 40px 10px 0 10px;
}

.social:hover {
  background-color: #f15d2a;
}

