@import 'custom';
@import 'reset';

@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }

// ===============================
// SECOND POSITION STYLE GUIDE
// ===============================

body {
	font-family: Arial;
	background-color: $ltblack;
	color: $black; 
}	 

.section {
	// padding-top: 50px;
}

.post-container {
	width: 75%;
	margin: 0 auto;
	padding: 50px 0;
	background-color: $white;
	.content {
		width: 55%;
		margin: 0 auto;
	}
}

.horiz-line {
	width: 100%;
	border-top: 1px solid $grey;
	margin: 50px 0;
}

.arrow {
	width: 20px;
	position: fixed;
	top: 30px;
	right: 5%;
}

// ===============================
// TYPOGRAPHY
// ===============================

h1 {
	@include font(3.5);
	line-height: 1.3;
	font-family: "brandon-grotesque",sans-serif;
	text-align: center;
	padding-top: 30px;
}

h2 {
	@include font(2.5);
	line-height: 1.5;
}

h3 {
	@include font(1.875);
	line-height: 1.5;
	font-weight: bold;
}

h4 {
	@include font(1);
	line-height: 2;
	// margin: 30px 0 20px 0;
	font-weight: bold;
}

h5 {
	@include font(1);
	line-height: 1.2;
}

h6 {
	@include font(0.875);
	line-height: 1.6;
 }

 p, li {
	@include font(1.4);
	line-height: 1.8;
}


 .bold {
 	@include font(1.4);
	line-height: 1.8;
	font-weight: bold;
	// color: $ltblack;
}

// ===============================
// HEADER
// ===============================

nav {
	margin: 25px 0;
	background-color: $ltblack;
	padding: 8px;
	text-align: center;
	color: $white;
}
a {
	text-decoration: none;
	color: $white;
	&:hover {
	color: $yellow;
	}
}
li {
	display: inline;
	margin: 0 15px;
	font-weight: normal;
}
p {
	color: $black;
	font-family: "Arial";
	line-height: 1.8;
}
	
	
	
// ===============================
// COLORS
// ===============================
	.box { 
		width: 80px;
		height: 80px;
		padding: 10px;
		display: inline-block;
		margin-top: 10px;
	}
	.one {
		background-color: $black;
		color: $white;
	}
	.two {
		background-color: $ltblack;
		color: $white;
	}
	.three {
		background-color: $white;
	}
	.four {
		background-color: $yellow;
	}
	.five {
		background-color: $grey;
	}
	.six {
		background-color: $dkgreen;
	}
	.seven {
		background-color: $ltgreen;
	}

// ===============================
// PROCESS
// ===============================
.process {
	width: 100%;
	margin: 10px;
}

// ===============================
// ICONS
// ===============================

	.icons {
		margin: 20px 10px;
		width: 100px;
	}	

// ===============================
// GRID
// ===============================
	.col {
		background-color: $grey;
		display: inline-block;
		padding: 5px;
		text-align: center;
		margin: 5px 0 20px 0;
	}
	.full {
		width: 91%;
	}
	.left {
		width: 30%;
	}
	.right {
		width: 60%;
	}
	.left-3 {
		width: 20%;
	}
	.right-9 {
		width: 70%;
	}
	

// ===============================
// BUTTONS
// ===============================
	.buttons {
		width: 30%;
		margin: 20px 0 0 0;
	}

// ===============================
// COSTUME IMAGES
// ===============================

.costumes {
	width: 230px;
	height: 230px;
	background-color: $grey;
	padding: 10px;
}


// ===============================
// LOGO
// ===============================
.logo {
	width: 200px;
	margin: 20px 0;
}


// @import 'mid-media';
// @import 'mid2-media';
// @import 'mid3-media';
// @import 'max-media';






