/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: Arial;
  background-color: #454E56;
  color: #3A4149; }

.post-container {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #EFEDED; }
  .post-container .content {
    width: 55%;
    margin: 0 auto; }

.horiz-line {
  width: 100%;
  border-top: 1px solid #8BA19E;
  margin: 50px 0; }

.arrow {
  width: 20px;
  position: fixed;
  top: 30px;
  right: 5%; }

h1 {
  font-size: 56px;
  font-size: 3.5em;
  line-height: 1.3;
  font-family: "brandon-grotesque",sans-serif;
  text-align: center;
  padding-top: 30px; }

h2 {
  font-size: 40px;
  font-size: 2.5em;
  line-height: 1.5; }

h3 {
  font-size: 30px;
  font-size: 1.875em;
  line-height: 1.5;
  font-weight: bold; }

h4 {
  font-size: 16px;
  font-size: 1em;
  line-height: 2;
  font-weight: bold; }

h5 {
  font-size: 16px;
  font-size: 1em;
  line-height: 1.2; }

h6 {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 1.6; }

p, li {
  font-size: 22.4px;
  font-size: 1.4em;
  line-height: 1.8; }

.bold {
  font-size: 22.4px;
  font-size: 1.4em;
  line-height: 1.8;
  font-weight: bold; }

nav {
  margin: 25px 0;
  background-color: #454E56;
  padding: 8px;
  text-align: center;
  color: #EFEDED; }

a {
  text-decoration: none;
  color: #EFEDED; }
  a:hover {
    color: #EFCB35; }

li {
  display: inline;
  margin: 0 15px;
  font-weight: normal; }

p {
  color: #3A4149;
  font-family: "Arial";
  line-height: 1.8; }

.box {
  width: 80px;
  height: 80px;
  padding: 10px;
  display: inline-block;
  margin-top: 10px; }

.one {
  background-color: #3A4149;
  color: #EFEDED; }

.two {
  background-color: #454E56;
  color: #EFEDED; }

.three {
  background-color: #EFEDED; }

.four {
  background-color: #EFCB35; }

.five {
  background-color: #8BA19E; }

.six {
  background-color: #6AD2B0; }

.seven {
  background-color: #76E2C0; }

.process {
  width: 100%;
  margin: 10px; }

.icons {
  margin: 5px 0 20px 0;
  max-width: 500px; }

.icons-full {
  margin: 5px 0 20px 0; }

.icons-small {
  margin: 5px 0 20px 0;
  max-width: 100px; }

.ribbon {
  margin: 5px 0 0 0;
  max-width: 60px; }

.col {
  background-color: #8BA19E;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin: 5px 0 20px 0; }

.full {
  width: 91%; }

.left {
  width: 30%; }

.right {
  width: 60%; }

.left-3 {
  width: 20%; }

.right-9 {
  width: 70%; }

.buttons {
  height: 30px;
  width: 70px;
  margin-top: 5px; }

.avatar {
  background-color: #8BA19E;
  padding: 10px;
  margin: 5px 10px 30px 0;
  text-align: left;
  font-family: "Arial";
  font-size: 12.8px;
  font-size: 0.8em;
  border-radius: 15%; }

.user-mobile-home {
  height: 45px;
  width: 45px; }

.user-desktop-home {
  height: 48px;
  width: 48px; }

.user-mobile-profile {
  height: 52px;
  width: 52px; }

.user-desktop-profile {
  height: 88px;
  width: 88px; }

.friends {
  height: 31px;
  width: 31px; }

/*# sourceMappingURL=style.css.map */
