/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "brandon-grotesque",sans-serif;
  background-color: #EFEDED;
  color: #3A4149; }

.section {
  padding-top: 50px; }

.post-container {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0; }
  .post-container .content {
    width: 55%;
    margin: 0 auto; }

.horiz-line {
  width: 100%;
  border-top: 1px solid #8BA19E;
  margin: 30px 0; }

h1 {
  font-weight: light;
  font-size: 48px;
  font-size: 3em;
  text-align: center;
  color: #3A4149; }

h3 {
  margin-top: 25px;
  color: #3A4149;
  height: 35px;
  text-align: left;
  text-transform: uppercase;
  font-size: 28.8px;
  font-size: 1.8em; }

h4 {
  text-align: left;
  margin: 30px 0 20px 0;
  font-weight: bold;
  font-size: 30px;
  font-size: 1.875em; }

h6 {
  line-height: 1.6;
  font-size: 16px;
  font-size: 1em; }

.bold {
  font-weight: bold;
  line-height: 1.6;
  color: #454E56;
  font-size: 16px;
  font-size: 1em; }

.header {
  font-size: 32px;
  font-size: 2em; }

.logo {
  font-weight: bold;
  color: #3A4149;
  font-size: 32px;
  font-size: 2em;
  margin-top: 0;
  line-height: 1; }

.logo2 {
  font-size: 32px;
  font-size: 2em;
  color: #3A4149;
  margin-top: 0;
  line-height: 1; }

.bold-link {
  color: #6AD2B0;
  font-weight: bold;
  font-size: 19.2px;
  font-size: 1.2em;
  margin-top: 5px; }

span.reg-link {
  color: #6AD2B0;
  font-size: 16px;
  font-size: 1em; }

.active {
  color: #3A4149;
  font-size: 16px;
  font-size: 1em; }

h2 {
  color: #76E2C0;
  font-size: 48px;
  font-size: 3em;
  font-weight: bold;
  text-align: center; }

nav {
  margin: 25px 0;
  background-color: #6AD2B0;
  padding: 8px;
  text-align: center; }

a {
  text-decoration: none;
  color: #EFEDED; }
  a:hover {
    color: #EFCB35; }

li {
  display: inline;
  margin: 0 8px;
  line-height: 1.8;
  font-weight: normal;
  font-size: 14px;
  font-size: 0.875em; }

p {
  color: #3A4149;
  font-family: "Arial";
  line-height: 1.8; }

.box {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: inline-block;
  margin-top: 10px; }

.one {
  background-color: #3A4149; }

.two {
  background-color: #3A4149; }

.three {
  background-color: #3A4149; }

.four {
  background-color: #3A4149; }

.five {
  background-color: #3A4149; }

.icons {
  margin: 5px 0 20px 0;
  max-width: 500px; }

.icons-full {
  margin: 5px 0 20px 0; }

.icons-small {
  margin: 5px 0 20px 0;
  max-width: 100px; }

.ribbon {
  margin: 5px 0 0 0;
  max-width: 60px; }

.col {
  background-color: #8BA19E;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin: 5px 0 20px 0; }

.full {
  width: 91%; }

.left {
  width: 30%; }

.right {
  width: 60%; }

.left-3 {
  width: 20%; }

.right-9 {
  width: 70%; }

.buttons {
  height: 30px;
  width: 70px;
  margin-top: 5px; }

.avatar {
  background-color: #8BA19E;
  padding: 10px;
  margin: 5px 10px 30px 0;
  text-align: left;
  font-family: "Arial";
  font-size: 12.8px;
  font-size: 0.8em;
  border-radius: 15%; }

.user-mobile-home {
  height: 45px;
  width: 45px; }

.user-desktop-home {
  height: 48px;
  width: 48px; }

.user-mobile-profile {
  height: 52px;
  width: 52px; }

.user-desktop-profile {
  height: 88px;
  width: 88px; }

.friends {
  height: 31px;
  width: 31px; }

/*# sourceMappingURL=style.css.map */
